@import "../../config/variables";

.container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  .inner {
    max-width: $max-page-width;
    display: flex;
    justify-content: center;
    width: 100%;

    .filter {
      @include boxBorder(no);
      margin-right: 15px;
    }
    .column {
      max-width: 1000px;
      @include boxBorder(no);
    }
  }
}
