.container {



  












  .enrollinfo1 {
    position: static;
    height: 395px;
    width: 100%;
    z-index: 1;
    background-image: url("../../images/enrollinfo01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    input[type="submit"] {
      background-color: #209af3;
      height: 50px;
      width: 250px;
      margin-top: 300px;
      outline: none;
      color: white;
      border: none;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .enrollinfo2 {
    position: static;
    height: 702px;
    width: 100%;
    z-index: 1;
    background-image: url("../../images/enrollinfo02.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
  }
  .enrollinfo3 {
    position: static;
    height: 395px;
    width: 100%;
    z-index: 1;
    background-image: url("../../images/enrollinfo03.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    input[type="submit"] {
      background-color: #209af3;
      height: 50px;
      width: 250px;
      margin-top: 300px;
      outline: none;
      color: white;
      border: none;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
